
.form input{
    padding: .6rem;
}
.left ul{
    margin: 2rem 0;
    color: #8bc34a;
}
.left ul li{
    margin: .8rem 0;
    font-size: 1.5rem;
    color: #8bc34a;
}
ul .menu-product{
    align-items: center;
    display: flex;
}
.menu-product p{
    margin-left: .5rem;
    color: #000;
}
.card-filter img{
    width: 100%;
}
.card-filter{
    margin-top: 2rem;
}
.card-filter p{
    margin-top: 1rem;
    color: #8bc34a;
}

