.contact{
    background-color: #ffff;
    position: relative;
}
.contact h1{
    text-align: center;
}
.contact .container{
    position: relative;
    margin-top:2rem;
}

.contact-detail{
    box-shadow: -5px -5px 20px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contact-detail img{
    width: 10rem;
    top: -35px;
    text-align: center;
    position: absolute;
}
.icon-contact{
    color: #8bc34a;
    font-size: 2rem;
}
.tel,.email,.address{
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: solid 1px  #c7c7c7;
}
@media screen and (max-width : 900px) {
    .contact-detail{
        flex-direction: column;
    }
    .contact-detail img{
        right: 35%;
}
}